variables:
  GIT_SUBMODULE_STRATEGY: recursive
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  CI_POETRY_VERSION: 1.8.2

# Enable caching for python
cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - .cache/pip

stages:
  - build
  - test
  - lint
  - publish
  - pages
  - scan

include:
    # Python
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/python.gitlab-ci.yml'

    # Docs pages
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/docs.gitlab-ci.yml'

    # Tag Based GitLab Release Management
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/release.gitlab-ci.yml'

    # Build and push the docker image
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/oci-image.gitlab-ci.yml'

    # Build and push the Helm chart
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/helm-chart.gitlab-ci.yml'

    # .post step finalisers eg: badges
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/finaliser.gitlab-ci.yml'

python-test:
  stage: test
  image: docker:27.0.2-dind
  services:
    - docker:27.0.2-dind
  before_script:
    - docker compose --file tests/testrunner.docker-compose.yaml -p dlm-test-services build
    - docker compose --file tests/test_services.docker-compose.yaml up -d --remove-orphans
  script:
    # - docker compose --file tests/testrunner.docker-compose.yaml -p dlm-test-services run --entrypoint "make python-test" dlm_client_testrunner
    - docker compose --file tests/testrunner.docker-compose.yaml run --rm --entrypoint="pytest --ignore tests/integration" dlm_client_testrunner
  after_script:
    - docker compose --file tests/testrunner.docker-compose.yaml -p dlm-test-services down dlm_client_testrunner

integration-tests:
  stage: test
  image: docker:27.0.2-dind
  services:
    - docker:27.0.2-dind
  before_script:
    # - docker compose --file tests/testrunner.docker-compose.yaml -p dlm-test-services build
    - export SERVER_IMAGE=registry.gitlab.com/ska-telescope/ska-data-lifecycle/ska-data-lifecycle:c395bfa17 && docker compose --file tests/integration/dlm_servers.docker-compose.yaml up -d --wait
    - docker compose --file tests/test_services.docker-compose.yaml up -d --remove-orphans
    - docker compose --file tests/dlm_clients.docker-compose.yaml build
    - docker compose --file tests/dlm_clients.docker-compose.yaml up -d --remove-orphans
  script:
    - docker compose --file tests/integration/dlm_servers.docker-compose.yaml ps -a
    - docker compose --file tests/testrunner.docker-compose.yaml -p dlm-test-services run -u root --entrypoint "pytest -m integration" dlm_client_testrunner
  after_script:
    - docker compose --file tests/testrunner.docker-compose.yaml -p dlm-test-services down dlm_client_testrunner
