{{- if $.Values.directory_watcher.enabled }}
{{- $readiness_file := "/tmp/dlm-client-ready" -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ska-dlm-client.fullname" . }}-directory-watcher
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ska-dlm-client.directory-watcher.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.directory_watcher.replicas }}
  selector:
    matchLabels:
      component: {{ .Values.directory_watcher.component }}
      subsystem: {{ .Values.directory_watcher.subsystem }}
  template:
    metadata:
      labels:
        {{- include "ska-dlm-client.directory-watcher.labels" . | indent 8 }}
    spec:
      {{- if .Values.ska_dlm_client.securityContext }}
      securityContext:
        {{- .Values.ska_dlm_client.securityContext | toYaml | nindent 8 }}
      {{- end }}
      containers:
      - name: directory-watcher
        image: {{ .Values.ska_dlm_client.image}}:{{ .Values.ska_dlm_client.version }}
        imagePullPolicy: {{ .Values.ska_dlm_client.imagePullPolicy }}

        env:
          - name: STORAGE_URL
            value: {{ .Values.ska_dlm_client.storage_server_url }}

        command:
        - dlm-directory-watcher
        - "--directory-to-watch"
        - {{ .Values.directory_watcher.directory_to_watch | quote }}
        - "--source-name"
        - {{ .Values.directory_watcher.source_storage | quote }}
        - "--source-root"
        - {{ .Values.directory_watcher.storage_root_directory | quote }}
        {{- if .Values.directory_watcher.target_name }}
          - "--target-name"
          - {{ .Values.directory_watcher.target_name | quote }}
        {{- end }}
        {{- if .Values.directory_watcher.target_root }}
          - "--target-root"
          - {{ .Values.directory_watcher.target_root | quote }}
        {{- end }}
        {{- if eq $.Values.directory_watcher.use_polling_watcher true }}
        - "--use-polling-watcher"
        {{- end }}
        {{- if eq $.Values.directory_watcher.skip_rclone_access_check_on_register true }}
        - "--skip-rclone-access-check-on-register"
        {{- end }}
        - "--ingest-url"
        - {{ .Values.ska_dlm_client.ingest_url | quote }}
        {{- if .Values.directory_watcher.migration_url }}
          - "--migration-url"
          - {{ .Values.directory_watcher.migration_url | quote }}
        {{- end }}
        {{- if eq $.Values.directory_watcher.register_contents_of_watch_directory true }}
        - "--register-contents-of-watch-directory"
        {{- end }}
        - "--readiness-probe-file"
        - {{ $readiness_file }}
        readinessProbe:
          exec:
            command:
              - cat
              - {{ $readiness_file }}
        volumeMounts:
        - name: data-product-storage
          mountPath: /dlm-archive
          {{- if eq $.Values.global.dataProduct.pvc.read_only true }}
          readOnly: true
          {{- end }}
      dnsPolicy: ClusterFirstWithHostNet
      volumes:
      - name: data-product-storage
        persistentVolumeClaim:
          claimName: "{{ $.Values.global.dataProduct.pvc.name }}"
{{- end }}
