{{- if .Values.etcd.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ska-dlm-client.etcd.labels" . | nindent 4 }}
spec:
  ports:
    - name: client
      port: 2379
      targetPort: 2379
  selector:
    app: etcd
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: etcd
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ska-dlm-client.etcd.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: etcd
  template:
    metadata:
      labels:
        app: etcd
    spec:
      containers:
        - name: etcd
          image: "{{ .Values.etcd.image }}:{{ .Values.etcd.tag }}"
          ports:
            - containerPort: 2379
            - containerPort: 2380
          command:
            - /usr/bin/etcd
            - "--advertise-client-urls=http://0.0.0.0:2379"
            - "--listen-client-urls=http://0.0.0.0:2379"
            - "--initial-advertise-peer-urls=http://0.0.0.0:2380"
            - "--listen-peer-urls=http://0.0.0.0:2380"
            - "--initial-cluster=default=http://0.0.0.0:2380"
{{- end }}
