{{- if $.Values.setupStorageLocation }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "ska-dlm-client.fullname" . }}-setup-storage-location
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ska-dlm-client.setup-storage-location.labels" . | indent 4 }}
spec:
  template:
    metadata:
      labels:
        {{- include "ska-dlm-client.setup-storage-location.labels" . | indent 8 }}
    spec:
      restartPolicy: Never
      containers:
      - name: register-storage-location
        image: {{ .Values.ska_dlm_client.image }}:{{ .Values.ska_dlm_client.version }}
        imagePullPolicy: {{ .Values.ska_dlm_client.imagePullPolicy }}
        command:
          - "dlm-register-storage-location"
        args:
          - "--storage-url"
          - {{ .Values.ska_dlm_client.storage_url }}
          - "--storage-name"
          - {{ .Values.ska_dlm_client.storage_name }}
          - "--storage-root-directory"
          - {{ .Values.ska_dlm_client.storage_root_directory }}
        volumeMounts:
        - name: dlm-configmap
          mountPath: "/home/ska-dlm/.dlm"
          readOnly: true
      dnsPolicy: ClusterFirstWithHostNet
      volumes:
      - name: dlm-configmap
        configMap:
          name: {{ .Values.ska_dlm.fullname }}-configmap
{{- end }}
