# https://helm.sh/docs/developing_charts/
apiVersion: v2
name: ska-dlm-client
version: 1.2.1
appVersion: 1.2.1
description: SKA DLM Client
home: https://developer.skao.int/projects/
sources:
- https://gitlab.com/ska-telescope/ska-dlm-client
maintainers:
- name: Mark Boulton
  email: mark.boulton@icrar.org
- name: Callan Gray
  email: callan.gray@icrar.org
- name: Dave Pallot
  email: dave.pallot@icrar.org
- name: Nadia Steyn
  email: nadia.steyn@icrar.org
- name: James Strauss
  email: james.strauss@icrar.org
- name: Andreas Wicenec
  email: andreas.wicenec@icrar.org
dependencies:
- name: kafka
  version: 32.4.3
  repository: https://charts.bitnami.com/bitnami
  condition: kafka.enabled

