# ----------------------------------------------------------------------------------
# Default Helm configuration for ska-dlm-client
#
# Production users must override:
#   - kafka_watcher.kafka_broker_url
#   - ska_dlm_client.ingest_server_url
#   - ska_dlm_client.storage_server_url
#   - ska_dlm_client.request_server_url
#
# All services are disabled by default.
# Local developers may use --set to enable kafka / kafka_watcher / directory watcher
# ----------------------------------------------------------------------------------

system: dlm
subsystem: client

# Global parameters
global:
  storageClass: nfss1
  development: true
  dataProduct:
    pvc:  # NOTE: This is globally shared all data products volume
      name: shared # test-pvc
      read_only: true

nameOverride: ""
fullnameOverride: ""
setupStorageLocation: false

ska_dlm:
  fullname: "ska-dlm"

ska_dlm_client:
  image: registry.gitlab.com/ska-telescope/ska-dlm-client/ska-dlm-client #artefact.skao.int/ska-dlm-client
  version: "28be4cc2" #"1.1.0"
  imagePullPolicy: Always
  storage_name: dlm
  storage_root_directory: /dlm
  securityContext: {}
  # Kubernetes' internal DNS resolves service names to the correct IP addresses automatically.
  # If these services run in another namespace, use e.g. ska-dlm-dev-ingest.other-namespace:port
  ingest_server_url: "http://ska-dlm-dev-ingest:80" # override for production
  storage_server_url: "http://ska-dlm-dev-storage:80" # override for production
  request_server_url: "http://ska-dlm-dev-request:80" # override for production

directory_watcher:
  enabled: false
  component: directory-watcher
  subsystem: data-lifecycle-management
  replicas: 1
  storage_name: dlm
  storage_root_directory: /dlm/watch_dir
  directory_to_watch: /dlm/watch_dir
  use_polling_watcher: false
  skip_rclone_access_check_on_register: false
  register_contents_of_watch_directory: false

configdb_watcher:
  enabled: true
  component: configdb-watcher
  subsystem: data-lifecycle-management
  replicas: 1
  include_existing: false
  ingest_server_url: http://ska-dlm-ingest.dp-dm
  source_storage: SDPBuffer
  storage_root_directory: /
  migration_destination_storage_name: # If omitted, migration will be skipped
  migration_server_url: # If omitted, migration will be skipped

# if we want a local etcd service
etcd:
  enabled: true
  image: "artefact.skao.int/ska-sdp-etcd"
  tag: "3.5.9"

kafka_watcher:
  enabled: false  # kafka-watcher OFF by default
  component: kafka-watcher
  subsystem: data-lifecycle-management
  replicas: 1
  kafka_server_local: false
  kafka_server_local_port: 9092
  kafka_broker_url: "ska-dlm-kafka:9092" # production to override with the full service DNS, e.g., ska-sdp-kafka.dp-shared:9092
  kafka_topic: "ska-sdp-dataproduct-ingest"
  storage_name: dlm
  check_rclone_access: false
  kafka_base_dir: "" # Base directory string removed from path to generate item_name

kafka:
  enabled: false

startup_verification:
  enabled: false
  component: startup-verification
  subsystem: data-lifecycle-management

ssh_storage_access:
  component: ssh-storage-access
  subsystem: data-lifecycle-management
  replicas: 1
  ssh_user_name: "dlm"
  ssh_uid: "1000"
  ssh_gid: "1000"
  daq:
    enabled: false
    deployment_name: "ssh-sa-daq"
    service_name: "ssh-sa-daq"
    pvc:
      name: daq-pvc
      mount_path: /dlm
      read_only: true
    secret:
      pub_name: "daq-pub"
  pst:
    enabled: false
    deployment_name: "ssh-sa-pst"
    service_name: "ssh-sa-pst"
    pvc:
      name: pst-pvc
      mount_path: /dlm
      read_only: true
    secret:
      pub_name: "pst-pub"
  sdp:
    enabled: false
    deployment_name: "ssh-sa-sdp"
    service_name: "ssh-sa-sdp"
    pvc:
      name: sdp-pvc
      mount_path: /dlm
      read_only: true
    secret:
      pub_name: "sdp-pub"

kubectl:
  image: artefact.skao.int/ska-ser-utils
  version: 0.1.0
