# ----------------------------------------------------------------------------------
# Default Helm configuration for ska-dlm-client

# Production users must override the appropriate service endpoints and URLs.
# ----------------------------------------------------------------------------------


# --- Global configuration (shared across components / subcharts) ---
global:
  storageClass: nfss1
  dataProduct:
    pvc:
      name: shared
      read_only: false

# --- Chart metadata / naming ---
system: dlm
subsystem: client
nameOverride: ""
fullnameOverride: ""

# --- External chart/service references ---
ska_dlm:
  fullname: "ska-dlm"

# --- Chart feature flags ---
setupStorageLocation: false # keep false. To be removed (DMAN-222).

# --- Shared client configuration ---
ska_dlm_client:
  image: artefact.skao.int/ska-dlm-client
  version: "1.2.3"
  imagePullPolicy: Always
  storage_name: dlm
  storage_root_directory: /dlm
  securityContext: {}
  # Kubernetes' internal DNS resolves service names to the correct IP addresses automatically.
  # If these services run in another namespace, use e.g. ska-dlm-dev-ingest.other-namespace:port
  ingest_url: "http://ska-dlm-ingest.dp-dm"          # override for production
  storage_url: "http://ska-dlm-storage.dp-dm"        # override for production
  request_server_url: "http://ska-dlm-request.dp-dm" # override for production


# --- Component configurations ---

directory_watcher:
  enabled: true
  component: directory-watcher
  subsystem: data-lifecycle-management
  replicas: 1
  source_storage: watch_dir
  storage_root_directory: /dlm/watch_dir
  directory_to_watch: /dlm/watch_dir
  target_name: dlm-archive
  target_root:
  use_polling_watcher: false
  skip_rclone_access_check_on_register: false
  register_contents_of_watch_directory: false
  migration_url: "http://ska-dlm-migration.dp-dm"  # override for production

startup_verification: # Test directory_watcher at startup
  enabled: false # Keep false for now because this code hasn't been maintained recently
  component: startup-verification
  subsystem: data-lifecycle-management

configdb_watcher:
  enabled: true
  component: configdb-watcher
  subsystem: data-lifecycle-management
  replicas: 1
  include_existing: false
  ingest_server_url: http://ska-dlm-ingest.dp-dm   # override for production
  storage_server_url: http://ska-dlm-storage.dp-dm # override for production
  source_storage: SDPBuffer
  source_root_directory: /dlm/product_dir
  migration_destination_storage_name: dlm-archive
  migration_url: http://ska-dlm-migration.dp-dm
  sdp_config:
    host: ska-sdp-etcd.dp-shared.svc.cluster.local   # <some-external-etcd.namespace.svc.cluster.local>. If empty, default to local etcd Service name
    port: 2379    # default etcd client port
    path: ""      # optional
    etcd:
      enabled: false # deploy a local etcd service
      image: "artefact.skao.int/ska-sdp-etcd"
      tag: "3.5.9"

kafka_watcher: # Deprecated (will be removed in DMAN-168)
  enabled: false # must be false

kafka: # Deprecated
  enabled: false


# --- Auxiliary utility images ---
kubectl: # the kubectl image used for k8s readiness testing
  image: artefact.skao.int/ska-ser-utils
  version: 0.1.0
